In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("unemploymentrate.csv")

In [4]:
print("shape (rows,columns): ",df.shape)

shape (rows,columns):  (2838, 14)

In [5]:
df.head()

,When,AgeGroup,Sex,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
0,01/01/1976,15 years and over,Females,5.2,9.7,8.1,5.2,11.4,11.5,8.3,8.1,10.8,8.9,4.3
1,01/01/1976,15 years and over,Males,3.8,7.8,6.4,5.8,11.1,12.6,7.6,5.2,9.3,7.7,3.5
2,01/01/1976,15 to 24 years,Males,8.0,15.3,13.2,11.9,17.2,19.2,14.5,11.6,21.4,15.9,7.9
3,01/01/1976,15 to 24 years,Females,8.3,12.9,11.2,9.6,15.1,16.5,14.0,10.1,14.9,12.6,6.9
4,01/01/1976,15 to 24 years,Both sexes,8.1,14.2,12.3,10.8,16.3,18.1,14.3,10.9,18.2,14.4,7.6

In [6]:
df.head(13)

,When,AgeGroup,Sex,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan
0,01/01/1976,15 years and over,Females,5.2,9.7,8.1,5.2,11.4,11.5,8.3,8.1,10.8,8.9,4.3
1,01/01/1976,15 years and over,Males,3.8,7.8,6.4,5.8,11.1,12.6,7.6,5.2,9.3,7.7,3.5
2,01/01/1976,15 to 24 years,Males,8.0,15.3,13.2,11.9,17.2,19.2,14.5,11.6,21.4,15.9,7.9
3,01/01/1976,15 to 24 years,Females,8.3,12.9,11.2,9.6,15.1,16.5,14.0,10.1,14.9,12.6,6.9
4,01/01/1976,15 to 24 years,Both sexes,8.1,14.2,12.3,10.8,16.3,18.1,14.3,10.9,18.2,14.4,7.6
5,01/01/1976,15 years and over,Both sexes,4.3,8.5,7.1,5.6,11.2,12.3,7.9,6.4,9.9,8.1,3.8
6,02/01/1976,15 years and over,Both sexes,3.7,8.4,7.0,4.9,10.9,12.7,7.9,6.1,10.9,8.7,4.1
7,02/01/1976,15 to 24 years,Both sexes,6.8,13.7,12.2,7.1,16.9,18.6,13.8,10.7,20.3,15.4,8.5
8,02/01/1976,15 to 24 years,Females,6.9,12.3,11.4,6.7,14.3,16.4,13.6,10.8,15.9,13.4,8.2
9,02/01/1976,15 to 24 years,Males,6.8,14.9,12.9,7.4,19.1,20.1,13.9,10.6,23.8,16.9,8.8
10,02/01/1976,15 years and over,Males,3.4,7.6,6.4,5.0,10.7,13.2,7.5,4.9,11.4,8.2,3.8
11,02/01/1976,15 years and over,Females,4.3,9.6,8.1,4.8,11.2,11.8,8.4,7.8,10.0,9.6,4.8
12,03/01/1976,15 years and over,Females,4.4,9.3,7.6,2.9,11.1,12.1,8.2,7.6,9.7,8.4,5.1

In [7]:
display(df.columns)

Index(['When', 'AgeGroup', 'Sex', 'Alberta', 'BritishColumbia', 'Canada',
       'Manitoba', 'NewBrunswick', 'NewfoundlandAndLabrador', 'NovaScotia',
       'Ontario', 'PrinceEdwardIsland', 'Quebec', 'Saskatchewan'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838 entries, 0 to 2837
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   When                     2838 non-null   object
 1   AgeGroup                 2838 non-null   object
 2   Sex                      2838 non-null   object
 3   Alberta                  2838 non-null   float64
 4   BritishColumbia          2838 non-null   float64
 5   Canada                   2838 non-null   float64
 6   Manitoba                 2838 non-null   float64
 7   NewBrunswick             2838 non-null   float64
 8   NewfoundlandAndLabrador  2838 non-null   float64
 9   NovaScotia               2838 non-null   float64
 10  Ontario                  2838 non-null   float64
 11  PrinceEdwardIsland       2838 non-null   float64
 12  Quebec                   2838 non-null   float64
 13  Saskatchewan             2838 non-null   float64
dtypes: float64(11), object(3)
memory usage: 277.2+ KB